:root {
  --light-color: #767d83;
  --title-color: #080808;
  --menu-button: #21204b;
}
@font-face {
  font-family: "MyFont";

  src: url("./InterTight-VariableFont_wght.woff") format("woff2");

  font-weight: 600;

  font-style: normal;
}

* {
  font-family: "MyFont";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  background-color: var(--title-color);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 32px;
  flex-direction: column;
  background-color: var(--light-color);
}

.navtoprow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.navbottomrow {
  display: flex;
  padding-bottom: 10px;
  gap: 50px;
  margin-top: 10px;
}

.menubutton {
  height: 30px;
  width: 75px;
  background-color: var(--menu-button);
  color: white;
  border-radius: 0;
  border: 0;
  font-size: 17px;
  box-shadow: #151d16 4px -4px;
  transition: 0.25s ease-out;
}

.menubutton:hover {
  background-color: #0a090f;
  box-shadow: #80c08e 4px 3px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
  align-items: center;
}

.footercontent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  color: white;
  font-size: 30px;
}

.welcomemessage {
  font-size: 20px;
  padding-top: 20px;
}

.homeimage {
  padding-top: 20px;
  height: 600px;
}

.menudescription {
  width: 300px;
  padding-top: 20px;
}

.contactmethod {
  width: 300px;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}

.footerimage {
  height: 32px;
}
